{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<form action = "#" method="post">
  <div class="form-group">
    <label for= "name">Name:</label>
    <input type="text" class="form-control" name ="name" placeholder="Enter the name of the Category" required minlength="1" ="">
    <small class="form-text text-muted">Please have a unique category name. We don't allow duplicates.</small>
  </div>
  <div class="form-group">
    <label for="sector">Sector:</label>
    <input type="text" class="form-control" name = "sector" placeholder="What Sector the category falls into?">
  </div>
  <div class="form-group">
    <label for="details">Details:</label>
    <input type="text" class="form-control" name = "details" placeholder="Give some details.Please be precise">
  </div>
  <div class="form-group">
    <label>Age Group:</label>
    <input type="text" class="form-control" name = "agegroup" placeholder="What age group can use the category. Ex: 10-30. If not applicable type &quot;Any&quot;">
  </div>
  <label for="price">Price Range:</label>
  <div class="input-group">
  <div class="input-group-addon">$</div>
  <input type ="text" class="form-control" maxlength="10" name="pricerange" placeholder="Price range in $">
  </div>
  </br>
  <button type="sumbit" class="btn btn-primary btn-lg btn-block">Submit</button>
  <a href = "{{url_for('showAllCategories')}}"><button type="button" class="btn btn-secondary btn-lg btn-block">Cancel</button></a>

</form>
{% endblock %}