{% extends "main.html"%}
{% block content%}
{% include "header.html"%}
{% include "flash.html" %}

<div class="container">
	<div class="row">
		
        
        <div class="col-md-12">
        <a href="{{url_for('addCategory')}}" class="btn btn-primary a-btn-slide-text">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        <span><strong>Add a Category</strong></span> </a>
        <div class="dropdown">
		    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Recently Added Items
		    <span class="caret"></span></button>
		    <ul class="dropdown-menu">
		    {% for item in items %}
			<li><a href = "{{url_for('showDescription', categoryName = item.category_name, itemName = item.itemName)}}"><i>{{item.itemName}}</i><sup>({{item.category_name}})</sup></a></li>
			{% endfor %}	
	        </ul>
       </div>
        <div class="table-responsive">

                
              <table id="mytable" class="table table-bordred table-striped">
                   
                   <thead>
                   <th>Name</th>
                    <th>Sector</th>
                     <th>Details</th>
                     <th>Age Group</th>
                     <th>Price Range</th>
                      <th>Edit</th>
                      <th>Delete</th>
                   </thead>
    <tbody>
    {% for category in categories %}
    <tr>
    <a href = "{{url_for('showItems', categoryName = category.categoryName)}}">
    <td><a href = "{{url_for('showItems', categoryName = category.categoryName)}}">
    {{category.categoryName}}</a></td>
    <td>{{category.categorySector}}</td>
    <td>{{category.categoryDetails}}</td>
    <td>{{category.categoryAgeGroup}}</td>
    <td>{{category.priceRange}}</td>
    <td><a href= "{{url_for('editCategory', categoryName = category.categoryName)}}"><button class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></button></a></td>
    <td><a href= "{{url_for('deleteCategory',categoryName = category.categoryName)}}"><button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button></td>
    </tr>
    {% endfor %}
 
    </tbody>
        
</table>
            
        </div>
	</div>
</div>
{% endblock%}
